{
	"trailingComma": "none",
	"proseWrap": "always",

	"overrides": [
		{
			"files": ["*.ts"],
			"options": {
				"trailingComma": "es5"
			}
		},
		{
			"files": ["*.d.ts"],
			"options": {
				"printWidth": 120
			}
		}
	]
}
