{
	"trailingComma": "none",
	"proseWrap": "always",
	"arrowParens": "avoid",

	"overrides": [
		{
			"files": ["*.ts"],
			"options": {
				"trailingComma": "all"
			}
		},
		{
			"files": ["*.d.ts"],
			"options": {
				"printWidth": 120
			}
		}
	]
}
